
<form class="container mt-5" id="form-sign-in" action="/auth/register" method="POST">
  <div class="mb-3 form-group">
    <label for="exampleInputName1" class="form-label">Họ và Tên</label>
    <input type="text" class="form-control" name="fullName" rules="required|min:10" id="exampleInputName1">
        <span class="form-message"></span>
  </div>

  <div class="mb-3 form-group">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" rules="required|email" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span class="form-message"></span>
  </div>

  <div class="mb-3 form-group">
    <label for="exampleInputPhone1" class="form-label">Số điện thoại</label>
    <input type="text" class="form-control" name="phoneNumber" rules="required|number|max:10" id="exampleInputPhone1">
        <span class="form-message"></span>
  </div>

  <div class="mb-3 form-group">
    <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
    <input type="password" class="form-control" name="password" rules="required|min:6" id="exampleInputPassword1">
        <span class="form-message"></span>
  </div>
  <button type="submit" class="btn btn-primary">Đăng Ký</button>
</form>

<script src="/validationForm.js" onload="varidator('#form-sign-in')"></script>

