<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div class="mt-4 container">
      <form id="create-course-form" method="POST" action="/courses/store">
        <div class="contact-form">
          <div class="mb-3 form-group">
            <label for="name-input" class="form-label">Tên khoá học</label>
            <input
              type="text"
              name="name"
              rules="required|min:5"
              class="form-control login__input"
              id="name-input"
            />
            <span class="form-message"></span>
          </div>

          <div class="mb-3 form-group">
            <label for="description-input" class="form-label">Mô tả</label>
            <input
              type="text"
              name="description"
              rules="required|min:10"
              class="form-control login__input"
              id="description-input"
            />
            <span class="form-message"></span>
          </div>

          <div class="mb-3 form-group">
            <label for="formFile" class="form-label">Chọn hình ảnh</label>
            <input class="form-control" type="file" id="formFile">
            <input id="course-img-input" name="image" type="text" style="display:none" />
          </div>

          <div class="mb-3 form-group">
           
            <label for="videoUrl-input" class="form-label">Đường dẫn video
              (Youtube)</label>
            <input
              type="text"
              name="videoUrl"
              rules="required|urlYoutube"
              class="form-control login__input"
              id="videoUrl-input"
            />
            <span class="form-message"></span>
          </div>
          <button type="submit" class="btn btn-primary">Tạo Khoá Học</button>
        </div>
      </form>
    </div>

<script src="/uploadImageToCloudinary.js" defer></script>
    <script
      src="/validationForm.js"
      onload="varidator('#create-course-form')"
    ></script>

<script>
  const inputChooseFileImg = document.getElementById("formFile");
  const hiddenCourseImgInput = document.getElementById("course-img-input");

  inputChooseFileImg.addEventListener("change", (event) => {
    const file = event.target.files[0];
    

    // Tải ảnh lên Cloudinary và nhận URL trả về
    uploadImageToCloudinary(file, 'F8_Education/courses')
      .then((imageUrl) => {
        hiddenCourseImgInput.value = imageUrl;
      })
      .catch((error) => {
        console.error('Error uploading image:', error);
        alert('Có lỗi khi tải ảnh lên Cloudinary');
      });
  });
</script>
  </body>
</html>