<div class="mt-2 container">
  <form id="create-course-form" method="POST" action="/courses/store">
    <div class="contact-form">
      <div class="mb-2 form-group">
        <label for="name-input" class="form-label">Tên khoá học</label>
        <input
          type="text"
          name="name"
          rules="required|min:5"
          class="form-control login__input"
          id="name-input"
        />
        <span class="form-message"></span>
      </div>

      <div class="mb-2 form-group">
        <label for="description-input" class="form-label">Mô tả</label>
        <input
          type="text"
          name="description"
          rules="required|min:10"
          class="form-control login__input"
          id="description-input"
        />
        <span class="form-message"></span>
      </div>

      <div class="mb-2 form-group">
        <label for="formFile" class="form-label">Hình ảnh khóa học</label>
        <div class="mb-2">
          <img
            class="course-img-edit mt-1"
            id="course-img"
            src="/img/default-course.png"
            alt="User"
          />
        </div>
        <input class="form-control" type="file" id="formFile" required />
        <input
          id="course-img-input"
          name="image"
          type="text"
          style="display:none"
        />
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Tạo Khoá Học</button>
      </div>
    </div>
  </form>
</div>

<script src="/uploadImageToCloudinary.js" defer></script>
<script
  src="/validationForm.js"
  onload="varidator('#create-course-form')"
></script>

<script>
  const inputChooseFileImg = document.getElementById("formFile"); 
  const courseImg = document.getElementById("course-img"); 
  const hiddenCourseImgInput = document.getElementById("course-img-input");

  inputChooseFileImg.addEventListener("change", (event) => { 
  const file = event.target.files[0]; 

  uploadImageToCloudinary(file, 'F8_Education/courses') 
    .then((imageUrl) => { 
      courseImg.src = imageUrl;
      hiddenCourseImgInput.value = imageUrl; 
    }) 
    .catch((error) => {
      console.error('Error uploading image:', error); 
      alert('Có lỗi khi tải ảnh lên Cloudinary'); 
    }); 
  });
</script>