<div class="mt-4 container">
    <form method="POST" action="/courses/store">
  <div class="mb-3">
    <label for="name-course-input" class="form-label">Name Course</label>
    <input type="text" name='name' class="form-control" id="name-course-input">
  </div>

  <div class="mb-3">
    <label for="description-input" class="form-label">Description</label>
    <input type="text" name='description' class="form-control" id="description-input">
  </div>

  <div class="mb-3">
    <label for="vId-input" class="form-label">Video Id</label>
    <input type="text" name='videoId' class="form-control" id="search-input">
  </div>
  <button type="submit" class="btn btn-primary">Tạo Khoá Học</button>
</form>
</div>