.card.course-card {
  margin-bottom: 16px; }

.col-des {
  text-align: center; }

.card-body a {
  text-decoration: none; }

.containers {
  text-align: center; }

.select-method-course {
  width: 175px;
  margin: 0 10px; }

.checkbox-all-course {
  align-items: center; }

.containers-navbar {
  padding: 0px 90px 0px 20px; }

.title-store {
  margin: 0 40px; }

.home-btn {
  margin-right: 135px;
  margin-top: 40px; }
