.card.course-card {
  margin-bottom: 16px; }

.col-des {
  text-align: center; }

.card-body a {
  text-decoration: none; }

.containers {
  text-align: center; }

.select-method-course {
  width: 175px;
  margin: 0 10px; }

.checkbox-all-course {
  align-items: center; }
