<div class="container text-center">
  <img class="img-home-page" src="/img/home.jpg" alt="">
  <div class="jumbotron">
    <h1 class="display-4">Chào mừng bạn đến với F8 Education</h1>
    <p class="lead">Nền tảng để bạn có thể tìm hiểu về Công Nghệ Thông Tin</p>
    <hr class="my-4">
    <p class="mb-3">Hãy bắt đầu với chúng tôi!</p>
    <a class="btn btn-primary btn-lg me-4" href="/auth/sign-in" role="button">Đăng Nhập</a>
    <a class="btn btn-primary btn-lg" href="/auth/sign-up" role="button">Đăng Ký</a>
  </div>
</div>