<div class="container text-center">
  <img class="img-home-page" src="/img/home.jpg" alt="" />
  <div class="jumbotron">
    <h1 class="display-4">Chào mừng bạn đến với F8 Education</h1>
    <p class="lead">Nền tảng để bạn có thể tìm hiểu về Công Nghệ Thông Tin</p>
    <hr class="my-4" />
    <p class="mb-3">Hãy bắt đầu với chúng tôi!</p>
    <a
      class="btn bg-primary-subtle me-4 btn-lg"
      href="/auth/sign-up"
      role="button"
    >Đăng Ký</a>
    <a
      class="btn bg-success text-white btn-lg"
      href="/auth/sign-in"
      role="button"
    >Đăng Nhập</a>
  </div>
</div>