<div class="mt-4 container">
    <form method="GET">
  <div class="mb-3">
    <label for="search-input" class="form-label">Từ Khoá</label>
    <input type="text" name='q' class="form-control" id="search-input">
  </div>
  <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
</form>
</div>